In [1]:
import pandas as pd
import shutil

In [2]:
basePath = "/home/birdo/MachineLearning/"
sourcePath = basePath+"Data/freefield1010/wav/"
destPath = basePath + "Vogelgeluiden/no bird/geluiden/"

In [3]:
df = pd.read_csv(basePath + "Data/freefield1010/ff1010bird_metadata_2018.csv")

In [4]:
df

      itemid   datasetid  hasbird
0      64486  ff1010bird        0
1       2525  ff1010bird        0
2      44981  ff1010bird        0
3     101323  ff1010bird        0
4     165746  ff1010bird        0
...      ...         ...      ...
7685  168059  ff1010bird        0
7686  164922  ff1010bird        0
7687   80789  ff1010bird        1
7688  104733  ff1010bird        1
7689   40565  ff1010bird        0

[7690 rows x 3 columns]

In [5]:
df_background = df[df.hasbird ==0 ]
df_background

      itemid   datasetid  hasbird
0      64486  ff1010bird        0
1       2525  ff1010bird        0
2      44981  ff1010bird        0
3     101323  ff1010bird        0
4     165746  ff1010bird        0
...      ...         ...      ...
7683   95027  ff1010bird        0
7684   80708  ff1010bird        0
7685  168059  ff1010bird        0
7686  164922  ff1010bird        0
7689   40565  ff1010bird        0

[5755 rows x 3 columns]

In [6]:
no_birds_files = df_background.itemid.values
no_birds_files

array([ 64486,   2525,  44981, ..., 168059, 164922,  40565])

In [9]:
for no_bird_file in no_birds_files:
    filePath = sourcePath+str(no_bird_file)+".wav"
    shutil.copy(filePath, destPath)